
doctype html 
html(lang="ko")
    head        
        title #{pageTitle} | SeuseuLo
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        
    body
        header 
            nav 
                ul
                    li 
                        a(href="/") 홈
                    li 
                        a(href="/login") 로그인
        div
            h1 #{todo.subject} #{todo.name}
            a(href=`${todo.id}/delete`) 삭제
            h4=todo.content 
            h7=todo.due_date
        form(method="POST")
            input(name="assignment" type="text" value=todo.assignment)
            input(type="submit" value="저장")

        
        